

<div class="flex">
    <div class="flex-item">
        <div class="product_img"><img class="img_photo" src="~/image/1.png" /></div>
        <div class="product_name">
            XXXL
        </div>
        <div class="product-text">
            Сыр моцарелла, Соус "1000 островов",
            Куриный рулет, Ветчина, Колбаски охотничьи, Орегано, Бекон, Сервелат, Огурцы маринованные
        </div>
        <div class="pizza-size">
            <div class="product-item">30 см</div>

            <div class="product-item active">40 см</div>
            <div class="product-item">60 см</div>
        </div>
        <div class="product_price_btn">
            <div class="product_price">
                690
                <span>&#8381</span>
            </div>
            <div class="product_weight">1440 гр</div>
            <div class="product_half">1/2</div>
            <div class="product_btn">В корзину</div>
        </div>
    </div>
    <div class="flex-item">
        <div class="product_img"><img src="~/image/2.png" /></div>
        <div class="product_name">
            4 вкуса
        </div>
        <div class="product-text">
            Соус "1000 островов", Сыр моцарелла, Рулет куриный, Ветчина, Пепперони, Сыр пармезан, Орегано,
        </div>
        <div class="pizza-size">
            <div class="product-item">30 см</div>

            <div class="product-item active">40 см</div>
            <div class="product-item">60 см</div>
        </div>
        <div class="product_price_btn">
            <div class="product_price">
                420
                <span>&#8381</span>
            </div>
            <div class="product_weight">540 гр</div>
            <div class="product_half">1/2</div>
            <div class="product_btn">В корзину</div>
        </div>
    </div>
    <div class="flex-item">
        <div class="product_img"><img src="~/image/3.png" /></div>
        <div class="product_name">
            Амазонка
        </div>
        <div class="product-text">
            Сыр моцарелла, Соус "1000 островов",
            Куриный рулет, Ветчина, Колбаски охотничьи, Орегано, Бекон, Сервелат, Огурцы маринованные
        </div>
        <div class="pizza-size">
            <div class="product-item">30 см</div>

            <div class="product-item active">40 см</div>
            <div class="product-item">60 см</div>
        </div>
        <div class="product_price_btn">
            <div class="product_price">
                420
                <span>&#8381</span>
            </div>
            <div class="product_weight">600 гр</div>
            <div class="product_half">1/2</div>
            <div class="product_btn">В корзину</div>
        </div>
    </div>
    <div class="flex-item">
        <div class="product_img"><img src="~/image/4.png" /></div>
        <div class="product_name">
            БананZZа
        </div>
        <div class="product-text">
            Бананы, Соус Гавайский, Сыр моцарелла, Ананас, Шоколад молочный, Кокос / миндаль, Орегано,
        </div>
        <div class="pizza-size">
            <div class="product-item">30 см</div>

            <div class="product-item active">40 см</div>
            <div class="product-item">60 см</div>
        </div>
        <div class="product_price_btn">
            <div class="product_price">
                390
                <span>&#8381</span>
            </div>
            <div class="product_weight">520 гр</div>
            <div class="product_half">1/2</div>
            <div class="product_btn">В корзину</div>
        </div>
    </div>
</div>
